body {
    background-color: #505050;
}

.main{
    width: 1500px;
    margin: auto;
}

.container {
    padding-top: 10px;
    width: 1420px;
    position: relative;
    margin: 0 auto;
}

.shadow {
    box-shadow: 8px 11px 8px 0 #000;
}

.curve {
    border-radius: 10px;
}

.background {
    background-color: #909090;
}

.right {
    width: 286px;
    float: right;
    position: relative;
}

.logo {
    margin-left: 5px;
    margin-top: 5px;
    width: 32%;
}

.lens {
    height: auto;
    margin-top: 0px;
}

.reload {
    float: right;
    width: 17px;
    height: auto;
    margin-top: 7px;
    margin-right: 10px;
}

.disconnection {
    width: 17px;
    bottom: 32px;
    height: auto;
    margin-right: 10px;
    position: absolute;
    right: 0;
}

.game {
    width: 100%;
    padding-left: 30px;
    float: left;
}

.middle {
    margin-right: 30px;
    height: 610px;
    width: 1020px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
}

.cluster {
    width: 1000px;
    margin-left: 10px;
    margin-top: 10px;
}

#pointnclick {
    width: 1090px;
    height: 450px;
    padding-left: 10px;
    text-align: center;
    float: left;
}

#clickarea {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.clickitem {
    display: block;
    position: relative;
}

#chair {
    top: 350px;
    left: 350px;
    height: 200px;
    width: 150px;
}

#screen {
    top: 150px;
    left: 825px;
    height: 150px;
    width: 190px;
}

.right_side {
    width: 131px;
    height: 450px;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    float: left;
}

.book {
    height: 85px;
    width: 65px;
}

.towel {
    width: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brick {
    background: repeat url('resources/brick.jpg');
    width: 120px;
    height: 70px;
}

.center {
    margin-top: 10px;
    width: 100%;
    padding-left: 30px;
    float: left;
}

.left_side {
    width: 110px;
    height: 425px;
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    float: left;
}

.action {
    width: 70px;
    margin-bottom: 10px;
}

.rectangle {
    border: 5px solid red;
    border-radius: 5px;
}

.greenbox {
    position: absolute;
    font-family: Times;
    z-index: 1;
    width: 550px;
    height: 180px;
    top: 720px;
    left: -40px;
    padding-left: 10px;
    background-color: #88FF89;
    font-size: 18px;
    font-family: Verdana;
}

.enter {
    font-size: 37px;
    font-family: Georgia;
}

.italic {
    font-style: italic;
}

.redshadow {
    text-shadow: 7px 7px 5px rgba(255, 0, 0, 255);
}

.text {
    width: 420px
}

.reply {
    border-radius: 0;
    border: medium none;
    font-size: 13;
    letter-spacing: 1,6px;
    padding-top: 1px;
    width: 80px;
    background: #f5f7f6;
    border: 1px solid #A8A4A5;
}